@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* https://www.happyhues.co/palettes/11 */
  --background: #f9f4ef;
  --primary-font: #020826;
  --secondary-font: #716040;
  --button: #8c7851;
  --button-text: #fffffe;
  --border: #020826;
}

@media (prefers-color-scheme: dark) {
  /* https://www.happyhues.co/palettes/12 */
  :root {
    --background: #232946;
    --primary-font: #fffffe;
    --secondary-font: #b8c1ec;
    --button: #eebbc3;
    --button-text: #232946;
    --border: #121629;
  }
}

body {
  height: 100vh;
  background-color: var(--background);
  color: var(--primary-font);
  @apply text-base;
}

@layer base {
  .nav-button {
    @apply w-fit p-2 hover:underline;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
